<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Connect XD</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="landing.css">

</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 text-center">Connect</span>
    </nav>

    <div class="landing">
        
    </div>

    <br>

    <figure>
        <div class="fixed-wrap">
            <div id="fixed">
                
            </div>
            
        </div>
    
        <div id="c" class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">About Us</h1>
                </div>
                <hr>
            </div>
        </div>
    
        <div class="container-fluid padding text">
            <div class="row padding">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">Connect!</h4>
                            <p class="card-text">
                                Connect is a fun way to stay in touch with your friends and family. Forget the troubles of subscription 
                                services and keep close to your loved ones in the funnest way possible.
                                Send you pal an Connect request now!  
                                <br><br>                                            
                                <a href='/meeting' target='_blank' class="btn btn-outline-secondary">Connect Now!</a>

                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        
    </figure>

    <footer>
        <div class="container-fluid padding footer">
            <div class="row text-center">
                <div class="col-12">
                    <h5>Made with &hearts; by Aditya Rajan</h5>
                </div>
            </div>
    
        </div>
    </footer>
    
</body>

</html>

