<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect Now xD</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="room.css">

    <script defer src="http://www.unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>

    <script>
        const ROOM_ID = "<%= roomId %>"
        function pop () {
            alert('Please make sure that you have allowed the use of the camera and microphone to continue using connect!')
        }
    </script>

</head>

<body onload="pop()">

    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 text-center">Connect</span>
    </nav>

    <br><br>

    <div class="container-fluid padding text">
        <div class="row padding">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title">Connect Now!</h4>
                        <p class="card-text">
                            Simply share this URL with your friends to invite them into this room.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid padding text">
        <div class="row padding">
            <div class="col-12">
                <div id="video-grid">
        
                </div>                
            </div>
        </div>
    </div>

    
    <br><br><br><br>

    <footer>
        <div class="container-fluid padding footer">
            <div class="row text-center">
                <div class="col-12">
                    <h5>Made with &hearts; by Aditya Rajan</h5>
                </div>
            </div>
    
        </div>
    </footer>
    
</body>
</html>